
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using EcommerceWebsite.Models;
<div class="well well-small">
    <h4>Featured Products <small class="pull-right">@(ViewBag.CountFeaturedProducts)+ featured products</small></h4>
    <div class="row-fluid">
        <div id="featured" class="carousel slider">
            <div class="carousel-inner">
                <div class="item">
                    <ul class="thumbnails">
                        @foreach (var featuredProduct in ViewBag.FeaturedProducts)
                        {
                            Product product = (Product)featuredProduct;
                            Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                            var photoName = photo == null ? "no-image.jpg" : photo.Name;
                            <li class="span3">
                                <div class="thumbnail">
                                    <i class="tag"></i>
                                    <a asp-controller="product" asp-action="details"
                                       asp-route-id="@product.Id"><img src="~/products/@photoName"></a>
                                    <div class="caption">
                                        <h5>@featuredProduct.Name</h5>
                                        <h4>
                                            <a class="btn" asp-controller="product" asp-action="details"
                                               asp-route-id="@product.Id">VIEW</a> <span class="pull-right">$@featuredProduct.Price</span>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#featured" data-slide="next">›</a>
        </div>
    </div>
</div>
<h4>Latest Products </h4>
<ul class="thumbnails">
    @foreach (var product in ViewBag.LatestProducts)
    {
        Product productinfo = (Product)product;
        Photo photo = productinfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
        var photoName = photo == null ? "no-image.jpg" : photo.Name;
        <li class="span3">
            <div class="thumbnail">

                <a asp-controller="product" asp-action="details"
                   asp-route-id="@product.Id"><img src="~/products/@photoName"></a>
                <div class="caption">
                    <h5>@productinfo.Name</h5>
                    <p>
                        @productinfo.Description
                    </p>

                    <h4 style="text-align:center">
                        <a class="btn" asp-controller="product" asp-action="details" asp-route-id="@product.Id">
                            <i class="icon-zoom-in"></i>
                        </a>
                        <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a>
                        <a class="btn btn-primary" href="#">$@productinfo.Price</a>
                    </h4>
                </div>

            </div>

        </li>
    }
</ul>
