@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using EcommerceWebsite.Models;
<section class="content-header">
    <h1>
        Product List
    </h1>
</section>
<section class="content">
    @if (TempData["error"] != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissable">
                    <h4><i class="icon fa fa-angle-left"></i>Failed</h4>
                    Deleted Failed!
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Product Table</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="customerTable" class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>FullName</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Mobile</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var customer in ViewBag.customers)
                            {
                                //Account pr = (Product)product;
                                //var photo = pr.Photos.SingleOrDefault(p => p.Featured == true);
                                //var photoName = photo == null ? "no-image.jpg" : photo.Name;
                                <tr>
                                    <td>@customer.Id</td>
                                    <td>@customer.Username</td>
                                    <td>@customer.Password</td>
                                    <td>@customer.FullName</td>
                                    <td>@customer.Email</td>
                                    <td>@customer.Address</td>
                                    <td>@customer.Mobile</td>
                                    <td>@(customer.Status ? "Active" : "Inactive")</td>
                                    
                                    <td>
                                        <a asp-area="admin" asp-controller="customer" asp-action="edit"
                                           asp-route-id="@customer.Id">Edit</a> |
                                        <a asp-area="admin" asp-controller="customer" asp-action="delete"
                                           asp-route-id="@customer.Id" onclick="return confirm('Are you sure?')">Delete</a> |
                                        
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>FullName</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Mobile</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div><!-- /.box-body -->
</section>
<script>
    $(function () {
        $('#customerTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
        });
    });
</script>